@model MyDiscs.Models.Disc

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewData["Title"]</h1>

<div>
     <h4>@Html.DisplayFor(model => model.Brand.BrandName) - @Html.DisplayFor(model => model.Name)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Glide)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Glide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Turn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Turn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plastic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plastic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bagged)
        </dt>
        <dd class = "col-sm-10">
            @* check bool and display status based on it *@
                            @if (Model.Bagged == true){
                                <p>Yes</p>
                            }else{
                                <p>No</p>
                            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/uploads/thumb_@Html.DisplayFor(model => model.ImageName)" class="thumbnail" alt="Photo of disc."/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand.BrandName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DiscId" class="btn btn-primary mt-3"><i class="bi bi-pencil pe-2"></i>Edit</a>  
    <br />
    <a asp-action="Index" class="btn btn-success mt-3" ><i class="bi bi-arrow-left-circle me-2"></i>Back to List</a>
</div>
